#box {
    width: 4vw;
    height: 4vw;
    background: black;
    left: 8vw;
    top: 36vw;
    background-image: url("kenzie.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
}

body {
    align-self: start;
    align-items: center;
    align-content: center;
    margin: auto;
}

#W {
    width: 4vw;
    height: 4vw;
    background: black;
}

#C {
    display: flex;
    width: 4vw;
    height: 4vw;
    background: rgb(218, 218, 218);
}

#S,
#F {
    width: 4vw;
    height: 4vw;
    background: blanchedalmond;
}

#lab {
    columns: 4vw;
    column-count: 46;
    display: flex;
    flex-direction: row;
    width: 84vw;
    height: 44vw;
    background-color: blanchedalmond;
    flex-wrap: wrap;
    background-color: aqua;
    margin: 0px auto;
    align-items: center;
}